.nombre
{
     position: "absolute";
          bottom: "30px";
          left: "50%";
          transform: "translateX(-50%)";
          background: "rgba(0, 0, 0, 0.5)";
          padding: "10px 20px";
          border-radius:  "10px";
          color: "white";
         z-index: 10;
}